@font-face {
    font-family: NorseBold;
    src: url("./assets/Norse-Bold.otf") format("opentype");
}
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    background-color: rgb(243, 242, 242);
}

#bgImg{
    width: 25rem;
    height: 100vh;
}

#imgContainer{
    font-family: NorseBold, Arial, Helvetica, sans-serif;
    height: 100vh;
}
#logoContainer{
    background-color: rgba(0, 0, 0, 0.61);
    position: relative;
    bottom: 32rem;
    height: 110px;
    font-family: NorseBold,Arial, Helvetica, sans-serif;
    font-size: 4rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
#OdinLogo{
    height: 90px;
}

#formSection{
    display: flex;
    flex-direction: column;
    padding: 0;
    padding-top: 4rem;
    width: auto;
}

#contentTop{
    margin-left: 3rem;
    width: 36rem;
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
}

button{
    background-color: #596D48;
    color: white;
    padding: 0.8rem;
    border: none;
    font-weight: 700;
    border-radius: 8px;
    width: 12rem;
}

a:link{
    color: #596D48;
}
p{
    font-size: 0.9rem;
}

form{
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 2rem;

}
#divForm{
    padding-right: 20rem;
}

.labelBox{
    display: inline-block;
    margin: 1rem;
    margin-left: 0;
    margin-right: 4rem;

}
#formSection2{
    background-color: rgb(245, 245, 245);
    margin-left: 0;
    padding-left: 3rem;
    box-shadow: 0px 3px 5px rgb(221, 221, 221);
    margin-bottom: 3rem;
    margin-top: 2rem;
}
#btnDiv{
    padding-left: 3rem;
}

#textForm{
    font-family: NorseBold,Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
}
label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    color: rgb(83, 83, 83);
}
input{
    border: 1px solid #E5E7EB;
}

input[type="password"]:invalid {
    border: 1px solid red;
    background-color: #ffecec;
}

input:focus {
    outline: none;
    border: 1px solid rgb(126, 200, 230);
    box-shadow: 0px 0px 4px rgb(126, 200, 230);
}

button:hover{
    cursor: pointer;
    box-shadow: 1px 3px 3px rgb(126, 125, 125);
}